@media screen and (max-width: 768px) {

    .page__container {
        max-width: 768px;
        padding: 20px 10px;
    }

    .title {
        font-size: 30px;
    }

}

@media screen and (max-width: 640px) {

    .keyboard {
        padding: 5px;
        gap: 5px;
    }

    .row {
        gap: 5px;
    }

    .button-key {
        height: 45px;
        width: 45px;
        font-size: 25px;
    }

}

@media screen and (max-width: 530px) {

    .button-key {
        height: 50px;
        width: 50px;
        font-size: 26px;
    }

}

@media screen and (max-width: 380px) {

    .page__container {
        max-width: 360px;
        padding: 10px 6px;
    }

    .title {
        font-size: 29px;
    }

    .block-buttons {
        gap: 20px;
    }

    .input-textarea {
        padding: 10px;
        font-size: 50px;
    }

}